# Sagemaker+Athena: Data connection

This notebook is intended to teach how to connect a sagemaker notebook to aws athena data using python 3.

## Contents

- Installing PyAthena
- Checking AWS Region
- Connecting to Athena
    - Importing libs
    - Creating engine connection
    - Reading data with pandas

## References

[AWS Data engineering Immersion Day](https://catalog.us-east-1.prod.workshops.aws/workshops/976050cc-0606-4b23-b49f-ca7b8ac4b153/en-US/800/830-athena-ml-usecase)

## Installing PyAthena

In [1]:
!pip install PyAthena[SQLAlchemy]

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Requirement already satisfied: PyAthena[SQLAlchemy] in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (2.23.0)
Requirement already satisfied: fsspec in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from PyAthena[SQLAlchemy]) (2022.11.0)
Requirement already satisfied: boto3>=1.26.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from PyAthena[SQLAlchemy]) (1.26.71)
Requirement already satisfied: tenacity>=4.1.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from PyAthena[SQLAlchemy]) (8.1.0)
Requirement already satisfied: botocore>=1.29.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from PyAthena[SQLAlchemy]) (1.29.71)
Requirement already satisfied: sqlalchemy<2.0.0,>=1.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from PyAthena[SQLAlchemy]) (1.4.46)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from boto3>=1.26.4->PyAthena[SQLAlchemy]) (0.6.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from boto3>=1.26.4->PyAthena[SQLAlchemy]) (1.0.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore>=1.29.4->PyAthena[SQLAlchemy]) (1.26.8)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from botocore>=1.29.4->PyAthena[SQLAlchemy]) (2.8.2)
Requirement already satisfied: greenlet!=0.4.17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from sqlalchemy<2.0.0,>=1.0.0->PyAthena[SQLAlchemy]) (2.0.1)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.29.4->PyAthena[SQLAlchemy]) (1.16.0)

## Checking AWS region

In [2]:
!aws configure get region

sa-east-1

## Connecting to athena

Importing libs

In [3]:
from sqlalchemy import create_engine
import pandas as pd

Creating engine connection with athena:

In [6]:
# Your aws s3 athena directory, the same used to configure the athena queries
s3_staging_dir = "s3://aws-athena-results-xxxxx/"
# AWS region of this notebook
aws_region = 'sa-east-1'
# Connection engine string
connection_string = f"awsathena+rest://:@athena.{aws_region}.amazonaws.com:443/ticketdata?s3_staging_dir={s3_staging_dir}"

# Creating connection engine
engine = create_engine(connection_string)

In [7]:
# Reading the data with pandas
df = pd.read_sql('SELECT * FROM "testes"."test_table"', engine)
df

      name      last
0  William      Lima
1   Marcos  Vinicius
2    Clara   Isabela